.app-header {
  align-items: flex-end;
  h1 {
    flex-grow: 1;
  }
  h2 {
    font-size: 1.2rem;
    color: grey;
  }
}
@media (min-width: 300px) and (max-width: 360px) {
  .app-header {
    h1 {
      font-size: 1.6rem;
    }
    h2{
      font-size: .88rem;
    }
  }
}

@media (min-width: 700px) and (max-width: 1300px) {
  .app-header {
    h1{
      font-size: 3rem;
    }
    h2{
      font-size: 1.4rem;
    }
  }
}